body {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.userDetails {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.list {
	display: flex;
	justify-content: space-around;
	align-items: center;
	line-height: 32px;
  letter-spacing: 1px;
  font-size: x-large;
}
li {
	width: 400px;
  margin-bottom: 10px;
}
.remove {
	background: transparent;
	border: none;
  font-size: 20px;
  cursor: pointer;
}
